.hero-section .shapeRt2 {
    left: -68px;
    top: -51px;
}
.hero-section .ani-rotation {
    -webkit-animation: Rotation 5s infinite;
        animation: Rotation 5s infinite;
}

.hero-section{
    position: relative;
    min-height: 750px;
    padding-top: 142px;
    padding-bottom: 120px;
    font-family: 'Open Sans', sans-serif !important;
    color: #333333;
}

.hero-section .right-shape-area{
    position: absolute;
    right: 0;
    top: 73px;
    height: 100%;
    width: 100%;
    z-index: -3;
    left: -167px;
}

.hero-section .right-shape-area .group-shape{
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.40625, 4.89975, 0, 1);
    transform-origin: center 50% 0px;
}
.hero-section .shape{
    height: 1px;
    margin: 0 auto 30px;
    position: relative;
    width: 60px;
    background-color: unset;
}

.hero-section .shapeRt{
    position: absolute;
    right: -1vh;
    visibility: visible;
    top: -10vh;
    animation-name: Rotation;
}

.hero-section .shapeRt2{
    visibility: visible;
    position: absolute;
    left: -10vw;
    top: -12vh;
    display: inline-block;
    animation-name: Rotation;
}

.hero-section video{
    /* max-width: 100%; */
    padding-top: 26px;
    width: 110%;
}


.hero-section .head-main{
    visibility: visible;
    padding-top: 3vh; 
    font-size: 48px; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.hero-section .head-main>span{
    font-weight: 400;
    font-size: 43px;
}
.hero-section .para{
    font-size: 14px; 
    padding: 20px 0 0 0;
    text-align: center;
}

.hero-section .topHeading .signup-btn{
    margin: 17px 0 0 0;
    background-color: rgb(10, 93, 170);
    font-size: 18px;
}

.topHeading.alt{
    text-align: left;
    padding-top: 60px;
}

body{
    font-family: 'Open Sans', sans-serif !important;
}
.Htw{
    margin-top: 100px;
    margin-bottom: 80px;
    /* font-family: 'Open Sans', sans-serif !important; */
    color: #333333;
}
.Htw .Htw-main{
    background: #2196F3;
    border-radius: 10px;
    padding: 120px 110px 120px 400px;
}

.Htw .Htw-main .Htw-head{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 35px;
}
.Htw .Htw-main p{
    position: relative;
    padding: 0 0 0 80px;
    margin: 25px 0 0 0;
    min-height: 90px;
    font-size: 1.1em;
    color: #fff;
}
.Htw-main p span{
    font-size: 70px;
    position: absolute;
    left: 0;
    top: 18px;
}
.hiw{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 35px;
    color: #fff;
}

.Htw .enter-email{
    position: relative;
    z-index: 10;
    left: -14vw;
}


.signup-container {
    margin-top: 2vh;
    width: 73%;
}
.signup-form {
    display: flex;
    background-color: #fff;
    border-radius: 25px;
}
.signup-form input[type="email"] {
    border: none;
    background: white;
    box-shadow: 0px 1px 4px black; 
    margin-right: 12px;
    margin-bottom: 0px;
}
.signup-form button {
    border: none;
    padding: 10px 24px; 
    color: white; 
    background-color: #3F51B5;
    box-shadow: 0px 1px 4px black;
}


@keyframes Rotation {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    50% {
        transform: rotate(10deg) translateX(20px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}