* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
/* 
body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f6f9;
} */

/* Sidebar Style */
.sidebar {
    width: 6%;
    background-color: #2d3436;
    height: 100vh;
    position: fixed;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
}

/* Expand Sidebar on Hover */
.sidebar:hover {
    width: 260px;
}

/* Sidebar Items */
.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
}

/* Sidebar Icons */
.sidebar ul li a i {
    font-size: 20px;
    margin-right: 20px;
    width: 40px;
    text-align: center;
}

/* Sidebar Text */
.sidebar ul li a span {
    display: inline-block;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show text on sidebar hover */
.sidebar:hover ul li a span {
    opacity: 1;
}

/* Hover Effect */
.sidebar ul li a:hover {
    background-color: #00cec9;
}

.sidebar ul li a.active {
    background-color: #0984e3;
}

/* Main Content */
.main-content {
    margin-left: 80px;
    padding: 40px;
    width: 100%;
    transition: margin-left 0.3s ease;
}

/* Expand Main Content when Sidebar is Open */
.sidebar:hover ~ .main-content {
    margin-left: 260px;
}

/* Main Content Styling */
.main-content h1 {
    font-size: 28px;
    color: #2d3436;
}

.main-content p {
    font-size: 18px;
    color: #636e72;
    line-height: 1.6;
}



#admin-setting-page{
    width: 94%;
    margin: 0 auto;
}

#admin-setting-page #setting-section .setting-main-class{
    padding: 3em 3em;
    margin: 2em;
    box-shadow: var(--common-box-shadow);
}

#admin-setting-page #setting-section .no-data-found{
    text-align: center;
    border: 2px dashed;
    padding: 24px 10px;
    font-size: 1.7em;
    font-weight: 500;
}

#admin-setting-page #setting-section .user-heading{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;

}

#admin-setting-page #setting-section .fa-trash{
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    color: var(--error-color);
    /* font-size: 1.7em; */
}
#admin-setting-page #setting-section .table-head{
    background: var(--theme-background-gradient);
    color: #fff;
    font-weight: bold;
    /* font-size: 1.1em; */

}
/* Responsive */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar:hover {
        width: 100%;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar:hover ~ .main-content {
        margin-left: 0;
    }
}
