.bulkEmail .right-shape-area {
    height: 108%;
}

.Bulk .image-H img{
    max-width: 100%;
}
.Bulk .para{
    line-height: 34px;
}

.Bulk .para p{
    font-size: 15px;
}



@media(max-width:1199px){

}
@media(max-width:991px){

}

@media(max-width:767px){

}
@media(max-width:565px){
    .Bulk .image-H img{
        max-width: 94%;
        padding-block-start: 2em;
    }
}